{% extends './_base.html' %}
{% block content %}

  {% include './article_detail_include.html' %}

  <div class="menu-bottom">
    {% if perms.flaxarticles.change_article %}
      <div class="menu-item">
        <a href="{% url 'flaxarticles:article-update' object.pk %}">Edit</a>
      </div>
    {% endif %}
  </div>
  <script>
    document.getElementById('a_addnote').addEventListener('click', function(e) {
      e.preventDefault()
      window.open(e.target.href)
    });
  </script>
{% endblock %}
